<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="42c446f5-3c34-4548-b0d2-3e9b838868d9"
            Publisher="CN=rober_000"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>EventFlare</DisplayName>
    <PublisherDisplayName>rober_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="EventFlare.App">
        <VisualElements
            DisplayName="EventFlare"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="EventFlare"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>